
footer{
    background-color: #f8f9fa;
}
footer ul li{
    margin-top: 20px;

}
footer a{
    color: gray;
    text-decoration: underline;
    font-size: 1.5rem;
}
footer .logo{
    width: 73px;
    height: 23px;
}
footer p{
    font-size: 1.5rem;
}
