.content-padding{
    padding: 8rem 9rem;
}
.carousel-inner{
    border: 0.2rem solid #f8f9fa;
}

.carousel-control-prev,
.carousel-control-next{
    width: 4rem;
    height: 4rem;
    top: 45%;
    background-color: var(--orange);
}
.site-section-boxTop-wrapper,
.site-section-boxBottom-wrapper{
    border: 0.2rem solid #f8f9fa;
}

/* main-details */
input[type = "number"],
.inputName{
    height: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
}
.inputName{
    margin-bottom: 1.1rem;
}



.btn-block{
    background-color: var(--bs-gray-400);
}